venv/
.env
__pycache__/
*.pyc
*.pth

# data
data/*
!data/README.md

# generated_speech_audio
generated_speech_audio/*
!generated_speech_audio/**/
!generated_speech_audio

# checkpoints
checkpoints/*
!checkpoints/README.md

# models
models/*
!models/README.md

# result_video
result_video/*
!result_video/README.md

# third_party
third_party/*
!third_party/README.md

# voices
voices/*
!voices/README.md

# tests
tests/*
!tests/README.md

