# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Data & models
volumes/*
volumes/audio_samples/*
!volumes/audio_samples/salvador/
!volumes/audio_samples/salvador/**

!services/musetalk/musetalk_core/musetalk/

# Build & temp
build/
dist/
*.egg-info/
temp/
tmp/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile.*.bak